{% extends "bootstrap/base.html" %}

{% block title %}
Demo App
{% endblock %}

{% block styles %}
{{super()}}
<link rel="stylesheet" href="{{url_for('.static', filename='starter-template.css')}}">
{% endblock %}

{% block content %}
    <nav class="navbar navbar-inverse navbar-fixed-top">
      <div class="container">
        <div class="navbar-header">
          <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a class="navbar-brand" href="#">Ithaca Food Bank</a>
        </div>
        <div id="navbar" class="collapse navbar-collapse">
          <ul class="nav navbar-nav">
            <li class="active"><a href="#">Home</a></li>
            <li><a href="{{ url_for('login') }}">Login</a></li>
            <li class="dropdown">
              <a class="dropdown-toggle" data-toggle="dropdown" href="#">Sign Up
              <span class="caret"></span></a>
                <ul class="dropdown-menu">
                  <li><a href="{{ url_for('signup_donor') }}">Register as Donor</a></li>
                  <li><a href="{{ url_for('signup_consumer') }}">Register as Consumer</a></li>
                  <li><a href="{{ url_for('signup_foodbank') }}">Register as Foodbank</a></li>
                </ul>
            </li>
        </ul>
    </div></li>
          </ul>
        </div><!--/.nav-collapse -->
      </div>
    </nav>
  <div style="color: #f8f8f8;background: url('../static/intro-bg.jpg') no-repeat center center;
  background-size: cover;min-width:100%;min-height:100%;position:absolute;">
    <div class="container">

      <div class="starter-template">
        <h1>Ithaca Food Bank</h1>
        <p class="lead">make the world a better place.</p>
      </div>

    </div><!-- /.container -->
  </div>
{% endblock %}