{% extends "bootstrap/base.html" %}
{% import "bootstrap/wtf.html" as wtf %}

{% block title %}
Register as Consumer
{% endblock %}

{% block styles %}
{{super()}}
<link rel="stylesheet" href="{{url_for('.static', filename='signin.css')}}">
{% endblock %}

{% block content %}
<div class="container">

  <form class="form-signin" method="POST" action="/signup/consumer">
    <h2 class="form-signin-heading">Sign Up</h2>
    {{ form.hidden_tag() }}
    {{ wtf.form_field(form.email) }}
    {{ wtf.form_field(form.password) }}
    {{ wtf.form_field(form.name) }}
    {{ wtf.form_field(form.address) }}
    {{ wtf.form_field(form.zip_code) }}
    {{ wtf.form_field(form.city) }}
    {{ wtf.form_field(form.state) }}
    {{ wtf.form_field(form.country) }}
    {{ wtf.form_field(form.phone) }}
    {{ wtf.form_field(form.description) }}
    {{ wtf.form_field(form.organization_type) }}
    {{ wtf.form_field(form.pick_up_method) }}
    {{ wtf.form_field(form.population) }}
    {{ wtf.form_field(form.total_capacity) }}
    {{ wtf.form_field(form.current_inventory) }}
    <button class="btn btn-lg btn-primary btn-block" type="submit">Sign Up as Consumer</button>
  </form>

</div> <!-- /container -->
{% endblock %}